* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#2e70ff, #dc53cf);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

body.active {
  background: linear-gradient(#dadee6, #555255);
  color: black;
}
body.active div.calculator div.buttons div.active {
  -webkit-animation: clickSecond 1s linear;
          animation: clickSecond 1s linear;
}
body.active div.calculator div.result div.stop-start-animation,
body.active div.calculator div.result div.color {
  background: linear-gradient(#555255, #dadee6);
  border-style: none;
}

div.calculator {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1098039216);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.5019607843);
  border-left: 1px solid rgba(255, 255, 255, 0.5019607843);
  z-index: 999;
  overflow: hidden;
}
div.calculator div.result {
  flex-grow: 0.2;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px 0 0;
  transition: all 0.1s linear;
}
div.calculator div.result div.previous-operand {
  position: absolute;
  top: 8%;
}
div.calculator div.result div.current-operand {
  height: 30px;
  margin: 30px 0 -20px;
  font-size: 27px;
}
div.calculator div.result div.stop-start-animation,
div.calculator div.result div.color {
  position: absolute;
  top: 2%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(#dc53cf, #2e70ff);
  border-top: 1px solid rgba(255, 255, 255, 0.5019607843);
  border-left: 1px solid rgba(255, 255, 255, 0.5019607843);
  cursor: pointer;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
}
div.calculator div.result div.color {
  left: 83%;
}
div.calculator div.buttons {
  flex-grow: 0.8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  cursor: pointer;
  font-size: 22px;
}
div.calculator div.buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  transition: all 0.3s linear;
  border-radius: 20px;
}
div.calculator div.buttons div:hover {
  background: rgba(255, 255, 255, 0.1098039216);
  border-radius: 20px;
}

div.animation {
  position: absolute;
  bottom: -17%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
div.animation div {
  background: rgba(255, 255, 255, 0.3490196078);
  overflow: hidden;
  -webkit-animation: divAni 10s linear infinite;
          animation: divAni 10s linear infinite;
  height: 100px;
  width: 100px;
}
div.animation div.one {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  transform: scale(0.2);
}
div.animation div.two {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  transform: scale(0.5);
}
div.animation div.three {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: scale(1.9);
}
div.animation div.four {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  transform: scale(0.3);
}
div.animation div.five {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transform: scale(1.5);
}
div.animation div.six {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  transform: scale(0.3);
}
div.animation div.seven {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  transform: scale(1.2);
}
div.animation div.eight {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  transform: scale(0.6);
}

@-webkit-keyframes divAni {
  100% {
    transform: translateY(calc((100vh - 550px) / 2 - 100vh));
  }
}

@keyframes divAni {
  100% {
    transform: translateY(calc((100vh - 550px) / 2 - 100vh));
  }
}
div.animation div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100px;
  width: 30%;
  transform: skew(45deg) translateX(150px);
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: mirror 3s linear infinite;
          animation: mirror 3s linear infinite;
}
div.animation div.one:before {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
div.animation div.two:before {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
div.animation div.three:before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
div.animation div.four:before {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
div.animation div.five:before {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
div.animation div.six:before {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
div.animation div.seven:before {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes mirror {
  100% {
    transform: translateX(-450px);
  }
}

@keyframes mirror {
  100% {
    transform: translateX(-450px);
  }
}
div.stop {
  display: none;
}

div.calculator div.buttons div.active {
  -webkit-animation: clickFirst 1s linear;
          animation: clickFirst 1s linear;
}

@-webkit-keyframes clickFirst {
  0% {
    color: #09ff00;
    font-weight: bold;
  }
  98% {
    color: #09ff00;
    font-weight: bold;
  }
  100% {
    color: transparent;
    font-weight: normal;
  }
}

@keyframes clickFirst {
  0% {
    color: #09ff00;
    font-weight: bold;
  }
  98% {
    color: #09ff00;
    font-weight: bold;
  }
  100% {
    color: transparent;
    font-weight: normal;
  }
}
@-webkit-keyframes clickSecond {
  0% {
    color: #dadee6;
    font-weight: bold;
  }
  98% {
    color: #dadee6;
    font-weight: bold;
  }
  100% {
    color: transparent;
    font-weight: normal;
  }
}
@keyframes clickSecond {
  0% {
    color: #dadee6;
    font-weight: bold;
  }
  98% {
    color: #dadee6;
    font-weight: bold;
  }
  100% {
    color: transparent;
    font-weight: normal;
  }
}
@media (max-width: 450px) and (orientation: portrait) {
  div.calculator {
    height: 300px;
    width: 200px;
  }
  div.calculator div.result {
    flex-grow: 0.25;
    font-size: 17px;
    margin-top: 10px;
  }
  div.calculator div.result div.current-operand {
    font-size: 22px;
  }
  div.calculator div.result div.stop-start-animation,
div.calculator div.result div.color {
    height: 15px;
    width: 15px;
    font-size: 9px;
    line-height: 15px;
  }
  div.calculator div.result div.color {
    left: 73%;
  }
  div.calculator div.buttons {
    font-size: 14px;
  }
  div.animation div {
    height: 40px;
    width: 40px;
  }
  div.animation div.eight {
    display: none;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  div.calculator {
    height: 270px;
    width: 370px;
  }
  div.calculator div.result {
    flex-grow: 0.3;
    font-size: 18px;
    margin-top: 11px;
  }
  div.calculator div.result div.current-operand {
    font-size: 22px;
    margin: 20px 0 0;
  }
  div.calculator div.result div.stop-start-animation,
div.calculator div.result div.color {
    height: 15px;
    width: 15px;
    font-size: 8px;
    line-height: 15px;
  }
  div.calculator div.result div.color {
    left: 85%;
  }
  div.calculator div.buttons {
    font-size: 17px;
  }
  div.animation div {
    height: 30px;
    width: 30px;
  }
}/*# sourceMappingURL=style.css.map */