=flex($content,$items)
  display: flex
  justify-content: $content
  align-items: $items
=bcgBorder()
  background: $bcg
  border-radius: 20px
=divAnime($item1,$item2)
  height: $item1
  width: $item2
