=flex($content,$items)
  display: flex
  justify-content: $content
  align-items: $items
=bcgBorder()
  background: #ffffff1c
  border-radius: 20px
=divAnime($item1,$item2)
  height: $item1
  width: $item2
  animation-delay: $item1
  transform: $item2
