=flex($content,$items)
  display: flex
  justify-content: $content
  align-items: $items
=bcgBorder()
  background: #ffffff1c
  border-radius: 20px
=divAnime($item1,$item2)
  animation-delay: $item1
  transform: $item2

=mq($breakpoint)
  @if $breakpoint == phone
    @media (max-width: 450px) and (orientation: portrait)
      @content
  @if $breakpoint == land
    @media (max-width: 1100px) and (orientation: landscape)
      @content
