@import variables
@import mixins

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  min-height: 100vh
  overflow: hidden
  background: linear-gradient($color1,$color1A)
  color: #fff
  font-family: Arial, Helvetica, sans-serif
  +flex(center,center)
  transition: all .1s linear
body.active
  background: linear-gradient($color2,$color2A)
  color: black
  div.calculator
    div.buttons
      div.active
        animation: clickSecond 1s linear
    div.result
      div.stop-start-animation,
      div.color
        background: linear-gradient($color2A,$color2)
        border-style: none

div.calculator
  display: flex
  flex-direction: column
  height: 550px
  width: 400px
  +bcgBorder
  backdrop-filter: blur(5px)
  border-top: 1px solid $border
  border-left: 1px solid $border
  z-index: 999
  overflow: hidden
  div.result
    flex-grow: 0.2
    +flex(right, center)
    padding: 0 20px 0 0
    transition: all .1s linear
    div.previous-operand
      position: absolute
      top: 8%
    div.current-operand
      height: 30px
      margin: 30px 0 -20px
      font-size: 27px
    div.stop-start-animation,
    div.color
      position: absolute
      top: 2%
      height: 20px
      width: 20px
      border-radius: 50%
      background: linear-gradient($color1A,$color1)
      border-top: 1px solid $border
      border-left: 1px solid $border
      cursor: pointer
      font-size: 11px
      text-align: center
      line-height: 20px
    div.color
      left: 83%
  div.buttons
    flex-grow: 0.8
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    justify-items: center
    cursor: pointer
    font-size: 22px
    div
      +flex(center,center)
      height: 90%
      width: 90%
      transition: all .3s linear
      border-radius: 20px
    div:hover
      +bcgBorder

div.animation
  position: absolute
  bottom: -17%
  +flex(space-around,flex-start)
  width: 100%
  div
    background: #ffffff59
    overflow: hidden
    animation: divAni 10s linear infinite
    height: 100px
    width: 100px
  div.one
    +divAnime(3s,scale(0.2))
  div.two
    +divAnime(6s,scale(0.5))
  div.three
    +divAnime(0s,scale(1.9))
  div.four
    +divAnime(7s,scale(0.3))
  div.five
    +divAnime(1s,scale(1.5))
  div.six
    +divAnime(2s,scale(0.3))
  div.seven
    +divAnime(5s,scale(1.2))
  div.eight
    +divAnime(2.5s,scale(0.6))

@keyframes divAni
  100%
    transform: translateY(calc( (100vh - 550px) / 2 - 100vh ))

div.animation
  div:before
    content: ''
    position: absolute
    left: 0
    top: 0
    overflow: hidden
    height: 100px
    width: 30%
    transform: skew(45deg) translateX(150px)
    background: rgba(255,255,255,0.2)
    animation: mirror 3s linear infinite
  div.one:before
    animation-delay: 3s
  div.two:before
    animation-delay: 6s
  div.three:before
    animation-delay: 2s
  div.four:before
    animation-delay: 7s
  div.five:before
    animation-delay: 5s
  div.six:before
    animation-delay: 8s
  div.seven:before
    animation-delay: 5s

@keyframes mirror
  100%
    transform: translateX(-450px)

div.stop
  display: none

div.calculator
  div.buttons
    div.active
      animation: clickFirst 1s linear

@keyframes clickFirst
  0%
    color: $click
    font-weight: bold
  98%
    color: $click
    font-weight: bold

  100%
    color: transparent
    font-weight: normal

@keyframes clickSecond
  0%
    color: $color2
    font-weight: bold
  98%
    color: $color2
    font-weight: bold

  100%
    color: transparent
    font-weight: normal

+mq(phone)
  div.calculator
    height: 300px
    width: 200px
    div.result
      flex-grow: 0.25
      font-size: 17px
      margin-top: 10px
      div.current-operand
        font-size: 22px
      div.stop-start-animation,
      div.color
        height: 15px
        width: 15px
        font-size: 9px
        line-height: 15px
      div.color
        left: 73%
    div.buttons
      font-size: 14px

  div.animation
    div
      height: 40px
      width: 40px
    div.eight
      display: none

+mq(land)
  div.calculator
    height: 270px
    width: 370px
    div.result
      flex-grow: 0.3
      font-size: 18px
      margin-top: 11px
      div.current-operand
        font-size: 22px
        margin: 20px 0 0
      div.stop-start-animation,
      div.color
        height: 15px
        width: 15px
        font-size: 8px
        line-height: 15px
      div.color
        left: 85%
    div.buttons
      font-size: 17px
  div.animation
    div
      height: 30px
      width: 30px
