@import variables
@import mixins

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  height: 100vh
  // overflow: hidden
  background: linear-gradient($color1,$color2)
  color: #fff
  font-size: 19px
  font-family: Arial, Helvetica, sans-serif
  +flex(center,center)

div.calculator
  display: flex
  flex-direction: column
  height: 550px
  width: 400px
  +bcgBorder
  backdrop-filter: blur(5px)
  border-top: 1px solid $border
  border-left: 1px solid $border
  div.result
    flex-grow: 0.35
    +flex(right, center)
    padding-right: 20px
    font-size: 25px
  div.result:before
    content: ''
    position: absolute
    top: 2%
    height: 20px
    width: 20px
    border-radius: 50%
    background: black
    cursor: pointer
  div.buttons
    flex-grow: 1
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    justify-items: center
    cursor: pointer
    div
      +flex(center,center)
      height: 80%
      width: 80%
    div:hover
      +bcgBorder

div.animation
  position: absolute
  bottom: -17%
  +flex(space-around,flex-start)
  width: 100%
  div
    background: #ffffff59
    animation: divAni 10s linear infinite
    overflow: hidden
  div.one
    +divAnime(50px,60px)
    animation-delay: 3s
  div.two
    +divAnime(60px,70px)
    animation-delay: 6s
  div.three
    +divAnime(70px,80px)
  div.four
    +divAnime(50px,60px)
    animation-delay: 7s
  div.five
    +divAnime(100px,90px)
    animation-delay: 1s
  div.six
    +divAnime(70px,60px)
    animation-delay: 2s
  div.seven
    +divAnime(120px,100px)
    animation-delay: 5s

@keyframes divAni
  100%
    transform: translateY(calc( (100vh - 550px) / 2 - 100vh ))

div.animation
  div:before
    content: ''
    position: absolute
    left: 0
    top: 0
    height: 120px
    width: 30%
    transform: skew(45deg) translateX(150px)
    background: rgba(255,255,255,0.2)
    animation: mirror 3s linear infinite
  div.one:before
    animation-delay: 3s
  div.two:before
    animation-delay: 6s
  div.three:before
    animation-delay: 10s
  div.four:before
    animation-delay: 7s
  div.five:before
    animation-delay: 11s
  div.six:before
    animation-delay: 9s
  div.seven:before
    animation-delay: 5s

@keyframes mirror
  100%
    transform: translateX(-450px)
